{{>header}}
<main id="main-content">
  <h1>Sport</h1>
  <p class="utrecht-paragraph">Sportaanmeldingen van het huidige sportseizoen, voor de wijken waar je toegang toe hebt.</p>
  <p class="utrecht-paragraph">Wijken: {{allowedDistrictsLabel}}</p>

  {{#hasPartialError}}
  <div class="utrecht-alert utrecht-alert--warning" role="status">
    <div class="utrecht-alert__content">
      <p class="utrecht-alert__message">Niet alle inzendingen konden worden geladen ({{failedCount}} overgeslagen).</p>
    </div>
  </div>
  {{/hasPartialError}}

  {{#hasSubmissions}}
  <table class="nijmegen-table nijmegen-table-full-width sport-table" style="table-layout: fixed;">
    <colgroup>
      <col style="width: 16%;">
      <col style="width: 10%;">
      <col style="width: 24%;">
      <col style="width: 16%;">
      <col style="width: 20%;">
      <col style="width: 14%;">
    </colgroup>
    <thead class="nijmegen-table__header">
      <tr class="nijmegen-table__row">
        <th class="nijmegen-table__header-cell">Kenmerk</th>
        <th class="nijmegen-table__header-cell">Ingediend</th>
        <th class="nijmegen-table__header-cell">Naam</th>
        <th class="nijmegen-table__header-cell">Telefoon/e-mail</th>
        <th class="nijmegen-table__header-cell">Activiteiten</th>
        <th class="nijmegen-table__header-cell">Opmerkingen</th>
      </tr>
    </thead>
    <tbody>
      {{#submissions}}
      <tr class="nijmegen-table__row">
        <td class="nijmegen-table__data-cell" data-label="Kenmerk">{{reference}}<br>{{districtLabel}}<br>{{aanmeldTypeLabel}}</td>
        <td class="nijmegen-table__data-cell" data-label="Ingediend">{{#submittedAtLines}}{{.}}<br>{{/submittedAtLines}}</td>
        <td class="nijmegen-table__data-cell" data-label="Naam">{{#nameLines}}{{.}}<br>{{/nameLines}}</td>
        <td class="nijmegen-table__data-cell" data-label="Telefoon/e-mail">{{phone}}<br>{{email}}</td>
        <td class="nijmegen-table__data-cell" data-label="Activiteiten">{{activitiesLabel}}</td>
        <td class="nijmegen-table__data-cell" data-label="Opmerkingen">{{remark}}</td>
      </tr>
      {{/submissions}}
    </tbody>
  </table>
  {{/hasSubmissions}}
  {{^hasSubmissions}}
  <div class="nijmegen-action-card">
    <div class="nijmegen-action-card__content">
      <p class="utrecht-paragraph">Er zijn geen Sportaanmeldingen in het huidige seizoen voor je wijken.</p>
    </div>
  </div>
  {{/hasSubmissions}}
</main>
{{>footer}}
