{{>header}}
<main id="main-content">
  <h1>Inloggen</h1>
  <p class="utrecht-paragraph">Het inloggen is niet gelukt. Probeer het opnieuw.</p>
  <p><a class="utrecht-button utrecht-button--primary-action" href="/login">Opnieuw inloggen</a></p>
</main>
{{>footer}}
