{{>header}}
<main id="main-content">
  <h1>Welkom{{#actorEmail}}, {{actorEmail}}{{/actorEmail}}</h1>
  <p class="utrecht-paragraph">Gebruik het menu om een onderdeel te openen.</p>
</main>
{{>footer}}
