{{>header}}
<main id="main-content">
  <h1>Geen toegang</h1>
  <p class="utrecht-paragraph">Je bent ingelogd, maar je hebt momenteel geen toegang tot onderdelen van deze beheerapplicatie.</p>
</main>
{{>footer}}
