{{>header}}
<main id="main-content">
  <h1>Pagina niet gevonden</h1>
  <p class="utrecht-paragraph">De opgevraagde pagina bestaat niet.</p>
  <p><a class="utrecht-button utrecht-button--secondary-action" href="/">Terug naar home</a></p>
</main>
{{>footer}}
