{{>header}}
<main id="main-content">
  <h1>Uitgelogd</h1>
  <p class="utrecht-paragraph">Je bent uitgelogd.</p>
  <p><a class="utrecht-button utrecht-button--primary-action" href="/login">Opnieuw inloggen</a></p>
</main>
{{>footer}}
