      </div>
    </div>
  </div>
</div>

<footer class="nijmegen-footer">
  <div class="nijmegen-footer__container">
    <div class="nijmegen-footer__sub">
      <p class="utrecht-paragraph">© Gemeente Nijmegen {{currentYear}}</p>
    </div>
  </div>
</footer>

<script src="/static/js/web-components/nijmegen-header.js" defer></script>
<script src="/static/js/web-components/nijmegen-mobile-menu.js" defer></script>
<script src="/static/js/web-components/nijmegen-toolbar-button.js" defer></script>
</body>
</html>
