{{>header}}
<main id="main-content">
  <h1>Geen toegang</h1>
  <p class="utrecht-paragraph">Je hebt geen rechten om dit onderdeel te gebruiken.</p>
  <p><a class="utrecht-button utrecht-button--secondary-action" href="/">Terug naar home</a></p>
</main>
{{>footer}}
